/* generales */
@import url("https://fonts.googleapis.com/css2? family= Big+Shoulders+Display:wght@700 & family= Lexend+Deca & display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
/* principal */
.principal {
  display: flex;
  max-width: 768px;
  min-width: 320px;
}
/* columnas */
.titulo {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}
.columna {
  color: white;
  padding: 2rem;
}
.columna:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}
.columna:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.texto {
  font-size: 14px;
}
/* enlace */
.enlace {
  background-color: white;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: black;
  font-size: 12px;
  border-radius: 1rem;
}
.sedans .enlace {
  color: hsl(31, 77%, 52%);
}
.suvs .enlace {
  color: hsl(184, 100%, 22%);
}
.luxury .enlace {
  color: hsl(179, 100%, 13%);
}
